html,body {
	height:98%;
}

body {
	background: #2E0927;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 15vw;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}